li.selected { 
    background: grey;
}

li {
    /*display: inline;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*display: inline;*/
}

a {
    color: inherit;
    text-decoration: none;
}

#txt-box-search {
    width: 200px;
}

#list {
    border: 1px solid grey;
    width: 204px;
}

div {
    position: relative;
}